@media screen and (max-width: 1280px){ 
    #header-apre {
        margin-top: 50px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #apres h2 {
        text-align: center;
    }
    
    #apres p{
        text-align: center;
    }
    

    .card {
        height: 70vh;
        width: 97%;
        text-align: center;
        box-sizing: border-box;
    }

    .fa-brands{
        font-size: 10em;
    }

    .content-carrossel .fa-brands:hover {
        font-size: 12rem;
    }
}


@media screen and (max-height: 700px){ 
    html{
        overflow-x: hidden;
    }
   
    .content-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #222222;
    }

    #nave li {
        margin: 0.6em;
    }

    #header-apre {
        margin-top: 60px;
    }

    .card {
        height: 100vh;
        width: 97%;
        text-align: center;
        box-sizing: border-box;
    }

    .grid-container {
        grid-template-columns: 35% 35% 35%;
        grid-template-rows: 100%;
        grid-gap: .2em;    
    }

}

@media screen and (max-width: 950px){ 
 
    .card {
        height: 70vh;
        width: 97%;
        text-align: center;
        box-sizing: border-box;
    }

    .content-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #222222;
    }
    #nave {
        width: 40%;
        font-weight: 600;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    
    #nave ul {
        width: 90%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        position: relative;
        right: 5em;
    }
    
    #logo {
        position: relative;
        left: .8em;
        font-size: 3em;
        font-weight: 1000;
    }
    
    #nave li {
        margin: 0.6em;
    }

    .grid-container {
        grid-template-columns: 34% 34% 34%;
        grid-template-rows: 75%;
        grid-gap: .2em;    
    }

    .conteiner-carrossel{
        margin-top: 3em;
        width: 40em;
        height: 20em;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .content-carrossel{
        width: 130em;
        height: 15em;
        display: flex;
        align-items: center;
    }
    
    .slide{
        width: 16em;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        animation: slide 30s infinite linear;
    }
    
    @keyframes slide{
        15%{left:0em;}
        30%{left: -38.4em;}
        45%{left: -38.4em;}
        65%{left: -78em;}
        75%{left: -78em;}
        85%{left: -91.5em;}
        99%{left: -91.5em;}
        100%{left: 0em;}
    }
    
    .contact-card{
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 12em;
    }
    
    .contact-cards{
        width: 10em;
        height: 10em;
        margin: 1em;
        border-radius: 5%;
        font-size: 1em;
    }
    
}

@media screen and (max-width: 768px){ 
    .contact-card{
        display: flex;
        justify-content: space-around;
        width: 80%;
        height: 12em;
    }
    
    .contact-cards{
        width: 8em;
        height: 8em;
        margin: 1em;
        border-radius: 5%;
        font-size: 0.8em;
    }
    

}