
/*---------------inicio configuração geral------------*/


body {
    margin: 0;
    padding-top: 4em;
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

span {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
}

.card {
    height: 90vh;
    width: 97%;
    text-align: center;
    box-sizing: border-box;
}

/*---------------Fim configuração geral------------*/

/*--------------inicio header-----------------*/

#top-bar {
    position: fixed;
    width: 100vw;
    height: 4em;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content-header {
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}

#nave {
    width: 40%;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

#nave ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#logo {
    position: relative;
    left: .8em;
    font-size: 3em;
    font-weight: 1000;
}

#conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/*---------------Fim header------------*/

/*--------------inicio apresentação-----------------*/

#header-apre {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#apres {
    margin: 2em;
    height: 15em;
    width: 35em;
}

#apres h2 {
    text-align: left;
}

#apres p{
    text-align: left;
}

#imag {
    height: 40vh;
    width: 22vw;
    background-image: url(/imagens/galaxia.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: #333333 0.8rem solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#play {
    height: 40vh;
    width: 22vw;
    display: none;
    justify-content: center;
    align-items: center;

}

#imag:hover #play{
    display: flex;
    font-size: 4em;
    opacity: 0.7;
}

/*---------------Fim apresentação ------------*/

/*--------------inicio sobre-----------------*/

#sobre {
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.1em;
}

#sobre p {
    padding-top: 0.5em;
    width: 70%;
    text-align: justify;
}


#foto {
    background-image: url(/imagens/1.png);
    background-position: center;
    background-size: 200%;
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    border: #333333 0.8rem solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

/*---------------Fim sobre ------------*/

/*--------------inicio projetos pessoais-----------------*/

.conteiner-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-project{
    width: 80%;
}

.conteiner-project ul{
    padding: 0;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner-project li{
    list-style: none;
    width: 8.5em;
    height: 4.5em;
    border-radius: 5%;

}

.conteiner-project li:hover{
    border: .2em solid black;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.grid-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-gap: .8em;
    justify-content: space-between;
    box-sizing: border-box;
    justify-items: center;

}
  
.grid-item {
    width: 78%;
    height: 96%;
    background-color: #333333;
    font-size: 30px;
    border: 0.1em solid black;
    padding: 0.2em;
    border-radius: 5%;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

#projectHtml{
    display: none;
    width: 80%;
    height: 60%;
    
}

#projectCss{
    display: none;
    width: 80%;
    height: 60%;
}

#projectJavascript{
    display: none;
    width: 80%;
    height: 60%;
}

#projectPython{
    display: none;
    width: 80%;
    height: 60%;
}

#projectJava{
    display: none;
    width: 80%;
    height: 60%;
}



.img-item {
    background-image: url(/imagens/cod-python.jpg);
    background-size: cover;
    height: 50%;
    width: 100%;
    border-radius: 0.4em;
    opacity: 0.7;
}

.grid-item h5{
    margin-top: 0.2em;
    margin-bottom: 0;
    padding: 0;
    font-size: 0.5em;
}


.grid-item p{
    margin-top: 0.5em;
    height: 50%;
    width: 98%;
    text-align: justify;
    font-size: 0.4em;

}


/*---------------Fim dos projetos pessoais------------*/

/*--------------inicio Conhecimentos Tecnicos (habilidades)-----------------*/
#habili {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.conteiner-carrossel{
    margin-top: 3em;
    width: 50em;
    height: 20em;
    box-sizing: border-box;
    overflow: hidden;
}

.content-carrossel{
    width: 200em;
    height: 20em;
    display: flex;
    align-items: center;
}

.slide{
    width: 16.6em;
    height: 100%;
    margin-left: 0.3em;
    position: relative;
    box-sizing: border-box;
    animation: slide 30s infinite linear;
}

@keyframes slide{
    15%{left:0em;}
    30%{left: -50em;}
    45%{left: -50em;}
    65%{left: -100em;}
    75%{left: -100em;}
    85%{left: -118em;}
    99%{left: -118em;}
    100%{left: 0em;}
}

.fa-brands{
    font-size: 12em;
}

.fa-brands p {
    font-size: 1.2rem;
    margin: 0;
}

.content-carrossel .fa-brands:hover {
    font-size: 15rem;
}

.fa-html5:hover {
    color: #E44D26;
}

.fa-css3-alt:hover {
    color: #214CE5;
}


.fa-square-js:hover {
    color: #F8DC3E;
}

.fa-bootstrap:hover{
    color: #8312FA;
}

.fa-node:hover{
    color:#3E863D;
}

.fa-github:hover{
    color: #9D1BF2;
}

.fa-git:hover{
    color:#F05030;
}

.fa-figma:hover{
    color: #1FBD79;
}

.fa-python:hover{
    color:#1F5461;
}

.fa-java:hover{
    color:#0C83BD;
}
/*------------FIM Conhecimentos Tecnicos (habilidades)------------------*/


/*---------------------Inico contatos-----------------------*/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo{
    width: 70%;
    margin: 2em;
}

.contact-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20em;
}

.contact-cards{
    padding-top: 1.5em;
    width: 15em;
    height: 12em;
    margin: 1em;
    border-radius: 5%;
}

.contact-cards:hover{
    border: solid 0.2em black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact-cards i {
    font-size: 4em;
}
/*---------------------Fim contatos-----------------------*/

/*---------------------Inicio footer-----------------*/
.footer {
    height: 4em;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}